<h1 class="page-header"><i class="fa fa-cogs"></i>{{!vm.role.name ? '&nbsp;' : vm.role.name}}</h1>

<form class="form-horizontal">
	<label-group label="{{'name' | translate}}">
		<p>
			<input type="text" class="form-control" ng-model="vm.role.name" />
		</p>
	</label-group>
	<label-group label="{{'permissions' | translate}}">
		<table class="table table-striped">
			<tr ng-repeat="permission in vm.permissions | orderBy: 'name'" ng-class="{selected: vm.isSelected(permission)}">
				<td class="col-sm-6 sortable" ng-bind="permission | permissionName" ng-click="vm.toggleSelection(permission)"></td>
			</tr>
		</table>
	</label-group>
	<button type="submit" ng-click="vm.save()" class="btn btn-primary" ng-show="main.hasPermission('ADMIN_ROLES')"><i class="fa fa-floppy-o"></i> Save</button>
</form>