<h1 class="page-header"><i class="fa fa-cogs"></i> {{'roles' | translate}}</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th class="col-sm-4 sortable">
            <span ng-click="vm.paging.order('name')" class="sortable" id="sort_name" translate="name"></span>
            <span class="sortorder" ng-show="vm.paging.predicate === 'name'" ng-class="{reverse: vm.paging.reverse}"></span>
        </th>
        <th ng-repeat="permission in vm.permissions" class="permission-header permission-header-{{permission}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="180">
               <text id="thetext" transform="rotate(270, 12, 0) translate(-165,0)" ng-bind="permission | permissionName"></text>
            </svg>
        </th>
        <th class="col-sm-1" translate="action"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="role in vm.paging.data | filter: search">
        <td><a href="#roles/{{role.id}}" ng-bind="role.name"></a></td>
        <td ng-repeat="permission in vm.permissions"><i class="fa fa-check" ng-if="vm.isSelected(permission, role)"></i></td>
        <td><button ng-click="vm.remove(role)" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{'remove' | translate}}</button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="{{2 + vm.permissions.length}}" style="text-align: center;">
            <ul uib-pagination total-items="vm.paging.total" items-per-page="vm.paging.pagesize" max-size="vm.paging.maxPages" force-ellipses="true"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                ng-model="vm.paging.currentPage" ng-change="vm.paging.loadData()" ng-show="vm.paging.total > 0 && vm.paging.total > vm.paging.pagesize"></ul>
        </td>
    </tr>
    </tfoot>
</table>
<button ng-click="vm.add()" class="btn btn-primary" ng-show="main.hasPermission('ADMIN_ROLES')"><i class="fa fa-plus-circle"></i> {{'add' | translate}}</button>
