<h1 class="page-header"><i class="fa fa-user"></i>{{!vm.profile.name ? '&nbsp;' : vm.profile.name}}</h1>

<form class="form-horizontal" name="form">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="icon">{{'icon' | translate}}</label>
		<div class="col-sm-10 label-group-content">
			<div class="col-sm-10 label-group-content drop-box" ngf-drop="vm.file = $file" ngf-multiple="false" ngf-accept="'image/*'" ng-show="!vm.file">{{'drop_files_to_upload' | translate}}</div>
			<img ngf-src="vm.file" ng-show="vm.file" style="max-width: 150px"/>
			<span ng-show="vm.file" ng-click="vm.file = undefined" class="button" style="position: absolute; top: -5px; left: 149px; cursor: pointer;"><i class="fa fa-times"></i></span>
		</div>
	</div>
	<label-group label="{{'name' | translate}}" ng-class="{'has-error': form.name.$touched && form.name.$error.required}">
		<p>
			<input type="text" class="form-control" ng-model="vm.profile.name" name="name" required />
		</p>
	</label-group>
	<label-group label="{{'email' | translate}}" ng-class="{'has-error': form.email.$touched && (form.email.$error.email || form.email.$error.required)}">
		<p>
			<input type="email" class="form-control" ng-model="vm.profile.email" name="email" required />
		</p>
	</label-group>
	<label-group label="{{'login' | translate}}" ng-class="{'has-error': form.login.$touched && (form.login.$error.pattern || form.login.$error.required)}">
		<p>
			<input type="text" class="form-control" ng-model="vm.profile.login" name="login" required pattern="[A-Za-z]{3,50}"/>
		</p>
	</label-group>
	<label-group label="{{'password' | translate}}" ng-class="{'has-error': (form.password.$touched || form.passwordRepeated.$touched) && (form.passwordRepeated.$error.equal || form.passwordRepeated.$error.required)}">
		<p>
			<input type="password" class="form-control" ng-model="vm.profile.password" name="password" equal="{{vm.passwordRepeated}}" ng-required="vm.profile.id === undefined"/>
			<input type="password" class="form-control" ng-model="vm.passwordRepeated" name="passwordRepeated" equal="{{vm.profile.password}}" ng-required="vm.profile.id === undefined"/>
		</p>
	</label-group>
	<button type="submit" ng-click="vm.update()" class="btn btn-primary" ng-disabled="form.$invalid"><i class="fa fa-floppy-o"></i> Save</button>
</form>
