<h1 class="page-header"><i class="fa fa-user"></i>{{!vm.user.name ? '&nbsp;' : vm.user.name}}</h1>

<form class="form-horizontal" name="form">
	<label-group label="{{'name' | translate}}" ng-class="{'has-error': form.name.$touched && form.name.$error.required}">
		<p>
			<input type="text" class="form-control" ng-model="vm.user.name" name="name" required />
		</p>
	</label-group>
	<label-group label="{{'email' | translate}}" ng-class="{'has-error': form.email.$touched && (form.email.$error.email || form.email.$error.required)}">
		<p>
			<input type="email" class="form-control" ng-model="vm.user.email" name="email" required />
		</p>
	</label-group>
	<label-group label="{{'login' | translate}}" ng-class="{'has-error': form.login.$touched && (form.login.$error.pattern || form.login.$error.required)}">
		<p>
			<input type="text" class="form-control" ng-model="vm.user.login" name="login" required pattern="[A-Za-z0-9_\.@]{3,50}"/>
		</p>
	</label-group>
	<label-group label="{{'password' | translate}}" ng-class="{'has-error': (form.password.$touched || form.passwordRepeated.$touched) && (form.passwordRepeated.$error.equal || form.passwordRepeated.$error.required)}">
		<p>
			<input type="password" class="form-control" ng-model="vm.user.password" name="password" equal="{{vm.passwordRepeated}}" ng-required="vm.user.id === undefined"/>
			<input type="password" class="form-control" ng-model="vm.passwordRepeated" name="passwordRepeated" equal="{{vm.user.password}}" ng-required="vm.user.id === undefined"/>
		</p>
	</label-group>
	<label-group label="{{'roles' | translate}}">
		<table class="table table-striped">
			<tr ng-repeat="role in vm.roles | orderBy: 'name'" ng-class="{selected: vm.isSelected(role.id)}">
				<td class="col-sm-6 sortable" ng-bind="role.name" ng-click="vm.toggleSelection(role.id)"></td>
			</tr>
		</table>
	</label-group>
	<button type="submit" ng-click="vm.save()" class="btn btn-primary" ng-disabled="form.$invalid" ng-show="main.hasPermission('ADMIN_USERS')"><i class="fa fa-floppy-o"></i> Save</button>
</form>
