<h1 class="page-header"><i class="fa fa-user"></i>{{'users' | translate}}</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <span ng-click="vm.paging.order('name')" class="sortable" id="sort_name" translate="name"></span>
            <span class="sortorder" ng-show="vm.paging.predicate === 'name'" ng-class="{reverse: vm.paging.reverse}"></span>
        </th>
        <th>
            <span ng-click="vm.paging.order('login')" class="sortable" id="sort_login" translate="login"></span>
            <span class="sortorder" ng-show="vm.paging.predicate === 'login'" ng-class="{reverse: vm.paging.reverse}"></span>
        </th>
        <th>
            <span ng-click="vm.paging.order('email')" class="sortable" id="sort_email" translate="email"></span>
            <span class="sortorder" ng-show="vm.paging.predicate === 'email'" ng-class="{reverse: vm.paging.reverse}"></span>
        </th>
        <th translate="roles"></th>
        <th class="col-sm-1" translate="action"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in vm.paging.data | filter: search">
        <td><a href="#users/{{user.id}}" ng-bind="user.name"></a></td>
        <td ng-bind="user.login"></td>
        <td ng-bind="user.email"></td>
        <td><span ng-repeat="roleId in user.roleIds">{{vm.roleLookup[roleId].name}}{{$last ? '' : ', '}}</span></td>
        <td>
            <button ng-click="vm.clone(user.id)" class="btn btn-outline-secondary"><i class="fa fa-clone"></i> {{'clone' | translate}}</button>
            <button ng-click="vm.remove(user)" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{'remove' | translate}}</button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" style="text-align: center;">
            <ul uib-pagination total-items="vm.paging.total" items-per-page="vm.paging.pagesize" max-size="vm.paging.maxPages" force-ellipses="true"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                ng-model="vm.paging.currentPage" ng-change="vm.paging.loadData()" ng-show="vm.paging.total > 0 && vm.paging.total > vm.paging.pagesize"></ul>
        </td>
    </tr>
    </tfoot>
</table>
<button ng-click="vm.add()" class="btn btn-primary" ng-show="main.hasPermission('ADMIN_USERS')"><i class="fa fa-plus-circle"></i> {{'add' | translate}}</button>
