<div class="modal-header">
  <h3 class="modal-title" translate="remove_element" translate-values='{element: vm.entityname}'></h3>
</div>
<div class="modal-body">
  <table>
    <tr ng-repeat="action in vm.cascadeDeletes">
      <th ng-bind="action.effect"></th>
      <th ng-bind="action.action"></th>
      <td ng-bind="action.affected"></td>
    </tr>
  </table>
  <div translate="remove_element_long" translate-values='{element: vm.entityname}'></div>
</div>
<div class="modal-footer">
  <div class="control-content">
    <button ng-repeat="button in vm.confirmButtons" class="btn btn-primary" ng-click="vm.ok(button.value)" ng-bind="button.label"></button>
    <a href="" ng-repeat="button in vm.cancelButtons" ng-click="vm.cancel(button.value)" ng-bind="button.label"></a>
  </div>
</div>
