/* Selected lines in tables */
.table > tbody > tr.selected > td {
    background-color: #428bca;
    color: #fff;
}

/* Sortable table columns */
.sortable {
    cursor: pointer;
}
.sortorder:after {
    content: '\25bc';
}
.sortorder.reverse:after {
    content: '\25b2';
}

/* Drag and drop file upload */
.drop-box {
    background: #F8F8F8;
    border: 2px dashed #DDD;
    text-align: center;
    padding: .375rem .75rem;;
    transition: background 0.5s;
    transition: border 0.5s;
}
.drop-box.dragover {
    border: 2px dashed #aaa;
    background: #FFFFFF;
}
.drop-box.dragover-err {
    border: 2px dashed #ee0000;
    background: #eeaaaa;
}

/** Fontawesome usage in headers / input groups */
h1.page-header i.fa {
    margin-right: 8px;
}
.input-group-addon .fa {
    width: 1em;
    margin: 0 auto;
}

/** Closing buttons */
span.button {
    border: 3px solid white;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.5);
    background-color: black;
}

span.button i.fa {
    color: white;
    left: 3px;
    position: relative;
    top: -3px;
}

/** Bootstrap 4 dropdown menu should have a pointer */
ul.navbar-nav li.dropdown {
    cursor: pointer;
}

#loginform {
    max-width: 500px;
    margin: 40px auto auto;
    border: 1px solid #E5E5E5;
    box-shadow: 0 4px 10px -1px rgba(200,200,200,.7);
    background-color: #F8F8F8;
    padding: 24px;
}

/** Move datepicker popup to proper z index */
.uib-datepicker-popup {
    z-index: 1021;
}

/* Workaround for ridiciulously largy arrows in uib bootstrap 4 */
div.uib-datepicker i.fa-svg-icon > svg {
    width: 10px;
    height: 10px;
}

/* Styles for search window with clear button */
i.black {
    color: black;
}

i.grey {
    color: lightgrey;
}

.searchclear {
    right: 10px;
    position: absolute;
    padding: 10px;
    top: 0;
}

