<div class="form-group row">
	<label class="col-sm-{{labelcolumns ? labelcolumns : '2'}} control-label" for="{{forControl}}" ng-bind="label"></label>
	<div class="col-sm-{{valuecolumns ? valuecolumns : (labelcolumns ? 12-labelcolumns : '10')}} label-group-content" ng-transclude></div>
</div>