<li ng-show="main.hasPermission(permission)">
    <a class="dropdown-item" ng-class="{active : main.currentModule() == module}" href="#/{{module}}" id="menu_{{module}}">
        <i class="fa fa-{{icon}}"></i> {{title | translate}}
    </a>
</li>